absl-py==1.4.0
aiohttp==3.8.6
aiosignal==1.3.1
appdirs==1.4.4
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==22.2.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.2
bleach==6.0.0
blinker==1.6.2
branca==0.6.0
cachetools==5.3.0
certifi==2022.12.7
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.0.1
click==8.1.3
click-config-file==0.6.0
click-plugins==1.1.1
cligj==0.7.2
cloud-sql-python-connector==1.4.1
colorama==0.4.6
comm==0.1.2
configobj==5.0.8
contourpy==1.0.7
cryptography==41.0.4
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
entrypoints==0.4
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.12.0
Fiona==1.9.4.post1
Flask==2.3.3
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Logging==0.1.3
Flask-Limiter==3.5.0
Flask-Login==0.6.3
Flask-JWT-Extended==4.3.0
flatbuffers==23.1.21
folium==0.14.0
fonttools==4.38.0
frozenlist==1.4.0
future==0.18.3
gast==0.4.0
geographiclib==2.0
geopandas==0.14.0
geopy==2.4.0
google-auth>=1.6.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.51.1
gunicorn==21.2.0
h5py==3.8.0
humanize==4.6.0
idna==2.8
ifaddr==0.2.0
ImageHash==4.3.1
ipython-genutils==0.2.0
itsdangerous==2.1.2
jax==0.4.4
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyterlab-pygments==0.2.2
keras==2.12.0rc0
kiwisolver==1.4.4
libclang==15.0.6.1
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.7.0
matplotlib-inline==0.1.6
mistune==2.0.5
multidict==6.0.4
mysql-connector-python==8.1.0
mysqlclient==2.2.0
nest-asyncio==1.5.6
networkx==3.1
numpy==1.23.5
oauthlib==3.2.2
opencage==2.3.0
opencv-python==4.7.0.68
opt-einsum==3.3.0
overpy==0.6
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
phonenumbers==8.13.21
pickleshare==0.7.5
Pillow==9.4.0
pipenv==2023.5.19
platformdirs==3.5.1
plumbum==1.8.1
ply==3.11
portpicker==1.2.0
prompt-toolkit==3.0.36
protobuf==4.21.12
psutil==5.9.4
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pygame==2.3.0
Pygments==2.14.0
PyMySQL==1.1.0
pyparsing==3.0.9
pyproj==3.6.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2022.7.1
PyWavelets==1.4.1
pyzmq==25.0.0
requests==2.31.0
requests-oauthlib==1.3.1
rply==0.7.8
rpyc==5.3.1
rsa==4.9
Rtree==1.0.1
scikit-learn==1.2.1
scipy==1.10.0
shapely==2.0.1
simplegeneric==0.8.1
six==1.12.0
soupsieve==2.4
SQLAlchemy==2.0.21
sqlparse==0.4.4
stack-data==0.6.2
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0rc0
tensorflow-estimator==2.12.0rc0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==2.2.0
threadpoolctl==3.1.0
tinycss2==1.2.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
twarc==2.14.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.24.3
virtualenv==20.23.0
virtualenv-clone==0.5.7
waitress==2.1.2
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.3.7
wrapt==1.14.1
yarl==1.9.2
yeelight==0.7.13